<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="ZSharpFile" concurrentWrites="true" keepFileOpen="true" fileName="C:\Users\chriss\AppData\Local\Temp\ZSharp-Log.txt"  layout="${longdate} - ${level} - ${message}"/>
      <target xsi:type="Debugger" name="Dbg" layout="${longdate} - ${level} - ${callsite} - ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Dbg"/>
    </rules>
  </nlog>
</configuration>